.menu{
  color: black;
  font-size: medium;
  font-weight: 700;
  font-family: 'DynaPuff', cursive;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient( 45.6deg,rgb(255, 255, 255) ,rgb(208, 243, 243) , rgb(191, 244, 241)  );
}

.lab{
  color: black;
  font-size: medium;
  font-weight: 600;
}

.inp{
  border:2px solid black;
}


.carts
{
  outline: none;
  border: none;
  box-shadow: 1px 1px 3px 2px rgb(239, 237, 237),-1px -1px 3px 2px rgb(239, 237, 237);
  transition: all 1s;
}

.carts:hover
{
  transform:scale(1.05);
  z-index: 2;
  box-shadow: 3px 3px 10px 4px  rgb(207, 199, 199),-3px -3px 10px 4px  rgb(207, 199, 199);
}

.gradient-custom {
  /* fallback for old browsers */
  background: #3773d2;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(55,115,210,0.5), rgba(255,255,255,0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient( 180.6deg, rgb(191, 244, 241) 0.2%,rgb(223, 246, 245) 11.2%, rgb(127, 139, 247) 91.1% );
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(0,0,0,0.4);
}

.cs
{ background: linear-gradient( 180.6deg, rgb(191, 244, 241) 0.2%,rgb(223, 246, 245) 11.2%, rgb(127, 139, 247) 91.1% );
height: auto;
color: black;
}

.tab
{
height: auto;
  /* background-image: url(D:\Digihub\frontend\public\images\tablebg.jpg) ; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.badgeTable
{
  /* border: 2px solid red; */
  height: auto;
  width: 90%;
  background-color: #fff5;
  color: white;
  backdrop-filter: blur(7px);
  
}



.badgeHeading
{
  /* border: 2px solid red; */
  height: 60px;
  width: 90%;
  background-color: #fff5;
  color: black;
  text-shadow: 2px 2px 4px rgba(41, 254, 254, 0.333);
  backdrop-filter: blur(7px);
  
}

.headBlock
{
  color: black;
  font-weight: bold;
}


.bodyBlock tr {
  color: black;
  font-size: 15px;
  font-weight:600;
  background: linear-gradient(to right, rgba(131, 150, 187, 0.65), rgba(186,200,224,0.65));
  transition: 0.8s;
}

.bodyBlock tr:hover {
  background: linear-gradient(to right, rgba(94,231,223,0.65), rgba(180,144,202,0.65));
  box-shadow: 5px 5px 10px 5px rgb(211, 221, 235),-5px -5px 10px 5px rgb(211, 221, 235);
  transform: scale(1.01);
}

.tab2
{
height: auto;
  /* background-image: url(D:\Digihub\frontend\public\images\tablebg.jpg) ; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
  height: 100%;
  width: 100%;
}

.badgeTable2
{
  /* border: 2px solid red; */
  height: auto;
  width: 100%;
  background-color: #fff5;
  color: white;
  backdrop-filter: blur(7px);
  
}



.badgeHeading2
{
  /* border: 2px solid red; */
  height: 60px;
  width: 90%;
  background-color: #fff5;
  color: black;
  text-shadow: 2px 2px 4px rgba(41, 254, 254, 0.333);
  backdrop-filter: blur(7px);
  
  
}

.headBlock2
{
  color: black;
  font-weight: bold;
}


.bodyBlock2 tr {
  color: black;
  font-size: 15px;
  font-weight:600;
  background: linear-gradient(to right, rgba(131, 150, 187, 0.65), rgba(186,200,224,0.65));
  transition: 0.8s;
}

.bodyBlock2 tr:hover {
  background: linear-gradient(to right, rgba(94,231,223,0.65), rgba(180,144,202,0.65));
  box-shadow: 5px 5px 10px 5px rgb(211, 221, 235),-5px -5px 10px 5px rgb(211, 221, 235);
  transform: scale(1.01);
}


.tab3
{
height: auto;
  /* background-image: url(D:\Digihub\frontend\public\images\tablebg.jpg) ; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
  height: 100%;
  width: 100%;
}

.badgeTable3
{
  height: auto;
  width: 100%;
  background-color: #fff5;
  color: white;
  backdrop-filter: blur(7px);
  
}



.badgeHeading3
{
  height: 60px;
  width: 90%;
  background-color: #fff5;
  color: black;
  text-shadow: 2px 2px 4px rgba(41, 254, 254, 0.333);
  backdrop-filter: blur(7px);
  
  
}

.headBlock3
{
  color: black;
  font-weight: bold;
}


.bodyBlock3 tr {
  color: black;
  font-size: 15px;
  font-weight:600;
  background: linear-gradient(to right, rgba(131, 150, 187, 0.65), rgba(186,200,224,0.65));
  transition: 0.8s;
}

.bodyBlock3 tr:hover {
  background: linear-gradient(to right, rgba(94,231,223,0.65), rgba(180,144,202,0.65));
  box-shadow: 5px 5px 10px 5px rgb(211, 221, 235),-5px -5px 10px 5px rgb(211, 221, 235);
  transform: scale(1.01);
}

.signUpHead
{
  font-family: playfair display;
  font-size: 30px;
}

.signMain
{
  background-image: url("D:\Digihub\frontend\public\images\signUpBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.regButton
{
  background-image: linear-gradient(to right, #bd97b5, #7bdba3);
  color: black;
  font-size: large;
  font-family: bold;
}

.signBody
{
background-color: #fff5;
color: black;
backdrop-filter: blur(20px);
}



.studentForm
{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}

.log1 label
{
  color: black;
}
  
.logbtn
{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: rgb(74, 50, 227); 
  color: white;
  font-weight: 600;
}

.myslide1{
  height: 100vh; 
  background-image: url(D:\Digihub\frontend\public\images\s1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.myslide2{
  height: 100vh; 
  background-image: url(D:\Digihub\frontend\public\images\s2.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.myslide3{
  height: 100vh; 
  background-image: url(D:\Digihub\frontend\public\images\s3.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mainReg
{

   background: linear-gradient( 180.6deg, rgb(191, 244, 241) 0.2%,rgb(223, 246, 245) 11.2%, rgb(127, 139, 247) 91.1% );
}

.leftPart
{
  text-align: center;
    color: #fff;
    margin-top: 4%;
    position: relative;
}

.rightpart
{
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;

  
}

.rightpart form label
{
  color: black;
}

.imgdiv
{
  width: 100%;
}

.mngbdg
{
  background-image: linear-gradient(to bottom, #f7e8f3, #ffffff);
}

.adminProfile
{
  background-image: url(D:\Digihub\frontend\public\images\profile1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.adProfileBody
{
background-color: transparent;
backdrop-filter: blur(5px);
border-radius: 150px 2px 150px 2px;
box-shadow: 3px 3px 5px 3px skyblue;
}



.adUpdateForm
{
  top:5%;
  left: 0%;
  height: 90%;
  width: 100%;
  background-image: linear-gradient(to right, #caedff,#b5eeff); 
  background-color:#caedff ; 
  box-shadow: 1px 2px 5px 5px #f5f8f9;
}

.userProfile
{
  background-image: url(D:\Digihub\frontend\public\images\usrProfile3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.usrProfileBody
{
  background:linear-gradient(to right, #4372b8, #f8fcfc);
backdrop-filter: blur(5px);
border-radius: 150px 2px 150px 2px;
box-shadow: 3px 3px 5px 3px skyblue;

}




.usrUpdateForm
{
  position: absolute;
  top:5%;
  left: -100%;
  font-size: large;
  color: black;
  height: 90%;
  width: 100%;
  box-shadow: 3px 3px 5px 5px #cfe6f7;
  background-image: linear-gradient(to right, #99b4d9, #ebf2f7);
  background-color:#caedff ; 
}

.badgeSearch
{
  background-image: linear-gradient(to right, rgb(246, 205, 205), rgb(186, 159, 250));
  color: black;
  font-size: large;
  font-weight: 500;
}

.sideNav
{
  background-color: #3444b5;
  /* background-color: white; */
}

.sideNav hr
{
  color: white;
  font-weight: bold;
}
.sLink
{
  color: white;
  font-size: large;
  font-weight: bold;
  margin-top: 5px;
}

.sLink:hover
{
  color: yellow;
  font-size: large;
  font-weight: bold;
}

.mainBodyAdmin
{
  background-color: rgb(241, 241, 202);
}

.badgeWSt
{
  
  height: 100%;
  display: flex-column;
  align-items: flex-start;
  justify-content: center;  
}

.badgeWSt img
{
  width: 70%;
}

.badgeImg
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
}

.imgDes
{

  color: black;
  font-size: large;
  background-color: rgb(151, 206, 246); 
  font-weight: 600;
  text-align: center;
}

.viewBadge
{
  background-color: rgb(210, 235, 159);
}

.des2card
{
  border-radius: 20px;
  background-color: white;
  /* transition: all 0.3s; */
}



.des2card:hover
{
  

  background-color: #136efd;
  border:2px solid  #136efd;
  color: white;

}

/* .homeBody
{
  background-image: linear-gradient(to right, #bd88f3, #f2d2ed);
  height: auto;
  font-family: 'DynaPuff', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
} */


.mainDivServices
{
  background-image:url(D:\Digihub\frontend\public\images\blogbg.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}


