.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.menu
{
  background-color: red;
  color: black;
  font-size: medium;
  font-weight: 700;
  font-family: 'DynaPuff', cursive;
  font-family: 'Roboto', sans-serif;
}

.lab{
  color: black;
  font-size: medium;
  font-weight: 600;
}

.inp
{
  border:2px solid black;
}


.carts
{
  outline: none;
  border: none;

  box-shadow: 1px 1px 4px 1px rgb(239, 237, 237),-1px -1px 4px 4px rgb(239, 237, 237);
  transition: 1s;
}

.carts:hover
{
  transform:scale(1.05);
  z-index: 2;
  box-shadow: 1px 1px 10px 4px  rgb(207, 199, 199),-1px -1px 10px 4px  rgb(207, 199, 199);
}
